@import "tailwindcss";

@theme {
  --color-brand: #3b82f6;
  --color-brand-hover: #2563eb;
  
  --color-bg-dark: #0f172a;
  --color-bg-card: #1e293b;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-border: #334155;

  /* Fonts */
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand);
}
